@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	position: relative;
}

p, h1 {
	color: rgb(255, 255, 255);
}

hr {
	margin-bottom: 50px;
	width: 50px;
    border: 3px white;
    background-color: white;
    height: 4px;
}

.block-1 {
	padding: 50px 0;
  	position: relative;
	background-color: #DE2B24;
	text-align: center;
	height: 810px;
}

.box-cell :hover{
	transform: scale(1.2);
}

.block-2 {
	margin-top: -25px;
	position: relative;
	bottom: 0;
	background-color: #1287BF;
	text-align: center;
	height: 800px;
}

.block-3 {
	position: relative;
	bottom: 0;
	background-color: #2A2A2A;
	text-align: center;
	margin-top: -22px;
	height: 490px;
}

.container-1 {
	display: inline-block;
	background-color:#F35E59;
	width: 70%;
	height: 512px; 
}

.block-1 > h1 {
	margin-bottom: -15px;
}

.container-1 > .box-cell {
	height: 50%;
	width: 25%;
	float: left;
}

.img-box > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.txt-box > img {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

.txt-box > p {
	margin: 2px;
}

.txt-box > h1 {
	margin: 35% auto 0 auto;
	font-size: 25px;
}

:root {
  --borderWidth: 4px;
  --height: 15px;
  --width: 15px;
  --borderColor: #ffffff;
}

.check {
  margin-top: 15px;
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
}

#checkmark-circle {
  margin: 0 auto;
  background: transparent;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#close-button-circle {
  background: #DE2B24;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: right;
  overflow: hidden;
  text-align: center;
  margin-top: -20px;
  margin-right: -20px;
}

#x {
    display: inline-block;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 22%;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
}

.block-2 > h1 {
	padding-top: 60px;
	margin-bottom: -10px;
}

.block-3 > h1 {
	padding-top: 90px;
}

.triangle {
	padding-top: 20px;
	margin: 0 auto;
	margin-bottom: -20px;
	height: 0px;
    width: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid rgb(255, 255, 255);
}

.input-form {
	margin: 0 auto;
	border-radius: 3px;
	width: 45%;
	height: 55%;
	background-color: rgb(255, 255, 255);
}

.email-form {
	margin: 0 auto;
	width: 50%;
}

.input-form > p {
	color: #929292;
	font-size: 17px;
	padding: 60px 50px 10px;
}

#contact-number, input[type=text] {
  width: 70%;
  height: 12%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
    outline: none !important;
    border: 1px solid #1287BF;
}

#contact-number:focus {
    outline: none !important;
    border: 1px solid #1287BF;    
}

input[type=submit] {
  width: 25%;
  background-color:#DE2B24;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  margin: 20px 20%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.frame:hover {
	border-color: red;
}  

.block-4 {
	text-align: center;
	background-color: #515151;
	height: 68px;
	margin-top: -16px;
	padding-top: 18px;
}

.block-4 > p {
	padding: 10px;
	font-size: 14px;
	color: #CECECE;
}

.frame-container {
	display: inline-block;
	margin: 0 auto;
	width: 260px;
}

.frame img {
	padding-top: 12px;
}

.frame {
	border: 2px #515151 solid;
	border-radius: 3px;
	height: 45px;
	width: 45px;
	float: left;
	margin: 0 8px;
}

.block-3  input[type="email"] {
	margin: 0 auto;
	float: left;
	width: 100%;
	background-color: #515151;
	font-size: 17px;
	height: 55px;
	border: none;
	text-indent: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}

.block-3  ::placeholder, .block-2 ::placeholder {
	color:#B0B0B0;
} 

.block-3 > p {
	padding: 15px;
	color: #CECECE;
}

.block-3  input[type="submit"] {
	margin: 28px auto;
	display: inline-block;
	background-color: transparent;
	border: solid 2px #515151;
	width: 150px;
	height: 50px;
	font-size: 17px;
	font-weight: 100;
}

.block-1 > p, .block-2 > p {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	font-size: 18px;
}

.block-header, .block-3 > p, .input-form > p, .block-4 > p, .container-1 h1, .container-1 p {
	font-family: 'Open Sans Light', sans-serif;
} 

.block-header {
	font-weight: bolder;
}

#Subscribe-button:hover {
    background-color: red;
}